// {
//     "presets": [
//         [
//             "@babel/preset-env",
//             {
//                 "targets": "> 1.5%"
//             }
//         ]
//     ]
// }
{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": "> 1.5%"
            }
        ]
    ]
}